#page-about {
  background-image: url('../images/contents_bg.png');
  width: 100%;

  .bannerbox {
    background-image: url('../images/banner/roomsbanner.jpg');
  }

  .maincontent {
    padding: 20px 0 50px;

    h2 {
      text-align: center;
      padding: 50px 0;

      span {
        position: relative;
        padding: 10px 0;
        font-size: 1.6rem;
        font-weight: 300;

        &:after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          width: 60%;
          margin: 0 auto;
          border-bottom: 1px solid $grey;
        }
      }
    }

    .aboutbox {
      margin-bottom: 80px;
      text-align: center;
      line-height: 1.5em;
      &:nth-of-type(2){
        margin-top: 80px;
      }
      span {
        display: block;
        padding: 10px 0;
      }
    }

ul.picbox{
  display: flex;
  width: 1170px;
  margin: auto;
  li{
    flex:1;
    .pic{
      padding: 10px 5px;
    }
  }
}



  }
  @media (max-width: 640px) {
    ul.picbox{
      li:nth-of-type(1n+2){
        display: none;
      }
    }
  }
}
