#page-rooms {
  background-image: url('../images/contents_bg.png');

  .bx-wrapper {
    margin: 0 auto;
  }

  .bx-wrapper .bx-pager.bx-default-pager a {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: $white;
    box-shadow: 1px 2px 5px $deepgrey;
  }

  .bx-wrapper .bx-pager.bx-default-pager a.active {
    display: block;
    width: 20px;
    height: 20px;
    background-color: rgba($deepblue, 0.7);
  }

  .bx-wrapper .bx-pager.bx-default-pager a {
    display: block;
    width: 20px;
    height: 20px;
  }

  .bx-pager {
    text-align: center;
  }
 
  .bannerbox {
    background-image: url('../images/banner/roomsbanner.jpg');
  }

  .bx-pager-item {
    display: inline-block;
  }
  .maincontent {
    padding: 20px 0 50px;

    h2 {
      text-align: center;
      padding: 50px 0;

      span {
        position: relative;
        padding: 10px 0;
        font-size: 1.6rem;
        font-weight: 300;

        &:after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          width: 60%;
          margin: 0 auto;
          border-bottom: 1px solid $grey;
        }
      }
    }

    .contact {
      margin-bottom: 80px;
      text-align: center;
      line-height: 1.5em;

      span {
        display: block;
        padding: 10px 0;
      }
    }

    .roomlistbox {
      position: relative;
      width: 1170px;
      margin-bottom: 80px;
      margin: auto;
    }

    #roomList {
      li.roomitem {
        background-color: $white;
        margin-bottom: 30px;
        box-shadow: 0 0 15px rgba($black,0.5);
        .container{
          display: flex;
          padding: 40px 20px;
        }
        &:nth-of-type(even){
          .container{
            flex-direction: row-reverse
          }
        }
        .pic {
          flex: 1.2;
          position: relative;
          padding-bottom: 300px;
          background-size: cover;
          background-position: 50%;
          background-repeat: no-repeat; // box-shadow: 1px 1px 12px $deepgrey;
          box-shadow: 0px 0px 20px rgba($black,0.7);
          z-index: 0;
        }

        .text {
          flex: 1.5;
          position: relative;
        }

        .title {
          padding: 12px 12px 12px 60px;
          text-align: left;
          font-size: 1.4rem;
          color: $black;
        }

        .pricelist {
          display: flex;
          padding: 10px 10px 10px 60px;
          background-color: rgba($deepblue, 0.8);
          .priceitem {
            position: relative;
            padding-left: 12px;
            font-size: 1.1rem;
            color: $white;

            &:before {
              content: '';
              position: absolute;
              top: 50%;
              left: 2.5px;
              transform: translateY(-50%);
              width: 5px;
              height: 5px;
              border-radius: 50%;
              background-color: $white;
            }

            &+.priceitem {
              margin-left: 12px;
            }
          }
        }

        .price {
          font-size: 1.1rem;
        }

        span {
          display: block;
          line-height: 1.5em;
          padding-top: 20px;
          padding-left: 60px;
          &.equi{
            padding-top: 0;
          }
        }
      }
    }
    // ul.pager{
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   margin-top: 20px;
    //   margin-bottom: 50px;
    //   li{
    //     width: 10px;
    //     height: 10px;
    //     margin: 0 5px;
    //     border-radius: 50%;
    //     background-color: $white;
    //     box-shadow: 1px 2px 5px $deepgrey;
    //     &.active{
    //       background-color: rgba($deepblue,0.7);
    //     }
    //   }
    // }
    .servicelistbox {
      margin-bottom: 80px;
    }

    .servicelist {
      display: flex;
      align-items: flex-start;

      li {
        flex: 1;
        margin: 0 10px;
      }

      .icon {
        padding: 20px;
      }

      .text {
        text-align: center;
        font-size: 0.9rem;
        line-height: 1.5em;

        span {
          display: block;
        }
      }
    }

    li.info {
      padding: 30px 0;
      margin-bottom: 60px;
      background-color: rgba($white, 0.6);
      box-shadow: 0 0 15px rgba($grey, 0.7);

      .container {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .title {
        flex: 2.5;
        text-align: center;
        font-size: 1.6rem;

        span {
          display: none;
        }
      }

      .content {
        flex: 8;
        overflow: hidden;
        transition: 0.5s;

        span {
          line-height: 1.5em;
        }
      }

      .bottom {
        display: flex;
        justify-content: center;
        margin-top: 30px;

        li {
          margin-bottom: 10px;
        }

        .left {
          flex: 1;
          position: relative;
          padding-left: 30px;
        }

        .right {
          flex: 3;
          position: relative;
          padding-left: 30px;
        }

        .left:before,
        .right:before {
          content: '';
          position: absolute;
          top: 0;
          left: 5px;
          transform: rotate(45deg) translateX(50%);
          width: 8px;
          height: 8px;
          background-color: $black;
        }

        .left:after,
        .right:after {
          content: '';
          position: absolute;
          bottom: 5px;
          left: 11px;
          width: 1px;
          height: calc(100% - 20px);
          background-color: $black;
        }
      }
    }

    li.info1 {
      span {
        display: block;
      }

      .name {
        display: inline-block;
        width: 50%;
      }

      .account {
        display: inline-block;
        width: 50%;
      }
    }

    li.info2 {
      .noticelist {
        display: flex;
        align-items: center;

        li {
          padding: 0 20px;
        }

        span {
          display: block;
        }
      }

      .bottom {
        align-items: flex-start;

        .left {
          flex: 1;
          position: relative;
          padding-left: 30px;
        }

        .right {
          flex: 1;
          position: relative;
          padding-left: 30px;
        }
      }
    }

    li.info3 {
      .content {
        position: relative;
        padding-left: 30px;
      }

      .content:before {
        content: '';
        position: absolute;
        top: 0;
        left: 5px;
        transform: rotate(45deg) translateX(50%);
        width: 8px;
        height: 8px;
        background-color: $black;
      }

      .content:after {
        content: '';
        position: absolute;
        bottom: 5px;
        left: 11px;
        width: 1px;
        height: calc(100% - 20px);
        background-color: $black;
      }

      .notice li {
        display: flex;
        align-items: flex-start;
        line-height: 1.5em;
        padding: 3px 0;
        .listtitle{
          flex:1;
        }
        .text {
          flex: 10.5;
          span {
            display: block;
          }
        }
      }
    }
  }
  //maincontent
  @media (max-width: 768px) {
    .maincontent {
      #roomList {
        li.roomitem{
          display: block;
          width: 80%;
          margin: 30px auto;
          box-shadow: 0 0;
          // padding: 40px 60px;
          .container{
            display: block;
            width: 100%;
            padding: 0;
          }
          .pic{
            box-shadow: 0 0;
          }
          .text{
            padding: 20px;
          }
          .title{
            font-size: 1.6rem;
            padding: 10px;
          }
          .pricelist{
            padding: 10px;
          }
          span{
            padding-left: 0;
          }
        }
      }
      .servicelist {
        flex-wrap: wrap;

        li {
          flex: none;
          width: 31.3333%;
          margin: 1%;
        }

        .text {
          font-size: 1.4rem;
        }
      }

      li.info {
        .container {
          display: block;
        }
        .title {
          position: relative;
          padding: 10px 0;

          span.turnbtn {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            display: block;
            width: 40px;
            height: 40px;
            text-align: center;
            transition: 0.5s;
            z-index: 100;

            i {
              line-height: 40px;
              font-size: 1rem;
            }
          }
        }
        &.turnoff{
          .title span.turnbtn{
            transform: translateY(-50%) rotate(180deg);
            transition: 0.5s;
          }
          .content{
            height: 0;
            transition: 0.5s;
          }
        }

        .top {
          span {
            padding: 10px 0;
          }
        }

        .bottom {
          flex-wrap: wrap;

          li {
            margin-bottom: 20px;
          }

          .left {
            flex: none;
            width: 100%;
          }

          .right {
            flex: none;
            width: 100%;
            margin-top: 30px;

            .account,
            .name {
              display: block;
              width: 100%;

              &:nth-of-type(2) {
                margin-bottom: 20px;
              }
            }

            li {
              line-height: 1.5em;
            }
          }
        }
      }

      li.info2 {
        .noticelist {
          display: block;

          span {
            padding: 10px 0;
            line-height: 1rem;
          }
        }
      }

      li.info3 {
        .notice {
          li {
            display: block;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
  @media (max-width: 640px) {
    .maincontent {

      #roomList {
        li.roomitem {
          width: 95%;
        }
      }

      .servicelist {
        flex-wrap: wrap;

        li {
          width: 50%;
          flex: none;
          margin: 0;
          padding: 20px;
        }
        .text{
          font-size: 0.8rem;
        }
      }
    }
  }
  @media (max-width: 320px){
    .maincontent{

      #roomList li.roomitem {
      .text{
        padding: 10px;
      }
        .pricelist{
          padding: 10px 5px;
          .priceitem{
            font-size: 0.8rem;
          }
        }
    }
  }
}
}
//page-rooms
